<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <script src="script.js"></script>
</head>

<body>
    <header class="header-container">
        <h4 class="header-content">Sigfig RPT</h4></header>
    <div class="main-wrapper" ng-app="sigfigApp">
        <div class="page-wrapper row" ng-controller="companiesCtrl" ng-init="initFirst()">
            <article class="col-sm-7 col-xs-12 border-define panel panel-default">
                <div class="panel-heading">
                    <h4 class="header-main panel-title">Companies</h4>
                </div>
                <div class="container" id="companyDetailsPanel">
                    <div ng-if="!companyView" class="row margin-bottom" ng-repeat="x in companies">
                        <div class="col-12">
                            <div class="panel-group panel-wrapper">
                                <div class="panel panel-default">
                                    <div class="panel-heading big" id="{{x._id}}" ng-click="openCompanyDetails(x._id)">
                                        <h5 class="panel-title header-child">
											<a href="#/companies/{{x._id}}">{{x.name}}</a>
										</h5>
                                    </div>
                                    <div id="companyCollapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li>
                                                    <h4>Address:</h4>
                                                    <p>{{x.address}}</p>
                                                </li>
                                                <li>
                                                    <h4>Revenue:</h4>
                                                    <p>{{x.revenue}}</p>
                                                </li>
                                                <li>
                                                    <h4>Phone:</h4>
                                                    <p>{{x.phone}}</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="panel-group panel-wrapper">
                                <div class="panel panel-default">
                                    <div class="panel-heading short-height">
                                        <h5 class="panel-title header-child small">
											<a href="#" data-toggle="collapse" data-target=".{{x._id}}" ng-click="getPersons(x._id)">People who work at {{x.name}}</a>
										</h5>
                                    </div>
                                    <div id="personCollapse" class="panel-collapse collapse personCollapse" ng-class="x._id">
                                        <div class="panel-body">
                                            <ul ng-show="showPersons" class="list-style">
                                                <li ng-repeat="p in personsListByCompany">
                                                    <p><a href="#">{{p.name}}</a></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="companyView">
                        <div class="row margin-bottom" >
                            <div class="col-12">
                                <div class="panel-group panel-wrapper">
                                    <div class="panel panel-default">
                                        <div class="panel-heading big" >
                                            <h5 class="panel-title header-child">
											<a href="#">{{displayCompany.name}}</a>
										</h5>
                                        </div>
                                        <div id="companyCollapse">
                                            <div class="panel-body">
                                                <ul>
                                                    <li>
                                                        <h4>Address:</h4>
                                                        <p>{{displayCompany.address}}</p>
                                                    </li>
                                                    <li>
                                                        <h4>Revenue:</h4>
                                                        <p>{{displayCompany.revenue}}</p>
                                                    </li>
                                                    <li>
                                                        <h4>Phone:</h4>
                                                        <p>{{displayCompany.phone}}</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="panel-group panel-wrapper">
                                    <div class="panel panel-default">
                                        <div class="panel-heading short-height">
										<h5 class="panel-title header-child small" ng-click="openPersonDetails(displayCompany._id, displayCompany.name)">
											<a href="#" data-toggle="collapse" data-target="#personCollapse">People who work at {{displayPerson.name}}</a>
										</h5>
                                        </div>
                                        <div id="personCollapse" class="panel-collapse collapse personCollapse">
                                            <div class="panel-body">
                                                <ul class="list-style">
                                                    <li ng-repeat="p in displayPerson">
                                                    <p>{{p.name}}</p>
                                                </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <aside class="col-4 hidden-sm-down">
                <section class="border-define">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="header-main panel-title">Create new company</h4>
                            </div>
                            <form class="form-style">
                                <div class="form-group">
                                    <label for="nameLabel">Name:</label>
                                    <input type="text" class="form-control" id="nameLabel" ng-model="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="addressLabel">Address</label>
                                    <input type="text" class="form-control" id="addressLabel" ng-model="address" required>
                                </div>
                                <div class="form-group">
                                    <label for="revLabel">Revenue</label>
                                    <input type="text" class="form-control" id="revLabel" ng-model="revenue" required>
                                </div>
                                <div class="form-group">
                                    <label for="phoneLabel">Phone</label>
                                    <input type="text" class="form-control" id="phoneLabel" ng-model="phone" required>
                                </div>
                                <button type="submit" ng-click="createNewCompany()">Save</button>
                            </form>
                        </div>
                    </div>
                </section>
                <section class="border-define">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="header-main panel-title">Create new person</h4>
                            </div>
                            <form class="form-style">
                                <div class="form-group">
                                    <label for="personName">Name:</label>
                                    <input type="text" class="form-control" id="personName" ng-model="personName">
                                </div>
                                <div class="form-group">
                                    <label for="personAddr">Email</label>
                                    <input type="text" class="form-control" id="personAddr" ng-model="personEmail">
                                </div>
                                <div class="form-group">
                                    <label for="personComp">Company</label>
                                    <select ng-model="selectedComp" ng-options="y.name for y in companies"></select>
                                </div>
                                <button type="submit" ng-click="createNewPerson()">Save</button>
                            </form>
                        </div>
                    </div>
                </section>
            </aside>
        </div>
    </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>

</html>